@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
    font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  height: 100vh;
}
a {
  text-decoration: none;
}
li{
  list-style: none;
}
.grid-container {
  display: grid;
  height: 100%;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 7rem;
}
.header {
  grid-area: header;
  display: flex;
  background-color: #000;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
.brand a {
  color: #fff;
  font-size: 2.5rem;
  font-weight: bold;
}
.header-links a {
  margin-right: 15px;
  color: #fff;
  transition: 0.4s;
}
.btn{
  border: 2px solid white;
  border-radius: 5px;
  padding: 12px;
  background-color: orangered;
  transition: 0.4s;
}
.btn:hover{
  border: 2px solid orangered;
  background-color: #000;
  transition: 0.4s;
}
.header-links a:hover {
  color: orangered;
  transition: 0.4s;
}
.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: rgb(68, 67, 67);
}
