@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  height: 100vh;
  scroll-behavior: smooth;
}
a {
  text-decoration: none;
  color: #fff;
}
li {
  list-style: none;
}
.grid-container {
  display: grid;
  height: 100%;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 7rem 1fr 7rem;
}

/* SideBar Section ----------------*/

.brand button {
  font-size: 3rem;
  padding: 0.5rem;
  background: none;
  border: none;
  color: #fff;
  cursor: pointer;
}
.brand button:focus {
  outline: none;
}
.side-bar {
  position: fixed;
  transform: translateX(-30rem);
  width: 30rem;
  background-color: #000;
  height: 100vh;
  transition: transform.5s;
}
.close-side-bar {
  border-radius: 50%;
  border: 1px solid orangered;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: orangered;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
}
.close-side-bar:focus {
  outline: none;
}
.side-bar ul li {
  padding: 1.5rem;
  border-radius: 4px;
  border-left: 4px solid #fff;
  margin: 2px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.side-bar ul li:hover {
  background-color: orangered;
  border-left: 4px solid orangered;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transition: 0.4s;
}
.side-bar h3 {
  margin: 1.7rem;
  color: #fff;
}
.side-bar.open {
  transform: translateX(0);
  transition: 0.5s;
}

/* header Section ----------------*/

.header {
  grid-area: header;
  display: flex;
  background-color: #000;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
}
.brand a {
  color: blue;
  font-size: 2.5rem;
  font-weight: bold;
}
.header-links a {
  margin-right: 15px;
  transition: 0.4s;
}
.btn {
  border: 2px solid white;
  border-radius: 5px;
  padding: 12px;
  background-color: orangered;
  transition: 0.4s;
}
.btn:hover {
  border: 2px solid orangered;
  background-color: #000;
  transition: 0.4s;
}
.header-links a:hover {
  color: orangered;
  transition: 0.4s;
}

/* main Section ----------------*/

.main {
  grid-area: main;
}
.products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.products li {
  flex: 0 1 34rem;
  padding: 0;
  margin: 1rem;
  height: 30rem;
  border-bottom: 0.1rem solid #c0c0c0;
}
.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.product-name {
  font-size: 2rem;
}
.product-name a {
  color: blue;
  font-weight: bold;
}
.product-name a:hover {
  color: orangered;
  transition: 0.3s;
}
.product-brand {
  font-size: 1.5rem;
  color: #818181;
}
.product-price {
  font-size: 2.3rem;
  font-weight: bold;
  color: orangered;
}
.product-rating {
  font-size: 1.5rem;
  font-weight: bold;
  color: #818181;
  margin-bottom: 1rem;
}
.product-image {
  max-width: 34rem;
  max-height: 34rem;
}

/* footer Section ----------------*/

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  color: rgb(68, 67, 67);
}
